.player-dashboard {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .player-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 100%;
  }
  
  .player-info {
    display: flex;
    align-items: center;
  }
  
  .player-name {
    width: 150px;
    text-align: left;
    margin-right: 10px;
    white-space: nowrap;
  }
  
  .player-turn {
    margin-right: 20px;
    font-weight: bold;
  }
  
  .button-group {
    display: flex;
    align-items: center;
  }
  
  .button-group .btn {
    flex: 1;
    margin: 0 5px;
  }
  
  .move-forward-btn {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .move-forward-btn:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  .move-backward-btn {
    background-color: #dc3545; /* Red color for the button */
    border-color: #dc3545; /* Red border color */
    white-space: nowrap;
  }
  
  .move-backward-btn:hover {
    background-color: #c82333; /* Darker red on hover */
    border-color: #bd2130; /* Darker red border on hover */
  }
  
  .move-backward-btn:disabled {
    background-color: #e0aeb1; /* Lighter red when disabled */
    border-color: #e0aeb1; /* Lighter red border when disabled */
  }